table.Receivable { 
        border:1px #666677 dotted; 
        border-collapse:collapse; 
	margin-bottom:10pt;
}
table.Receivable td { 
        margin:0px; 
        border-left:1px #666677 dotted; 
        padding:4px; 
}
table.Receivable tfoot tr { 
        margin:0px; 
        border-top:1px #666677 dotted; 
        padding:4px; 
}
table.Receivable tfoot td { 
        margin:0px; 
        border-left:0px white solid;
        padding:4px; 
}
table.Receivable th { 
        border:1px #666677 dotted; 
        margin:0px; 
        padding:4px; 
        background-color:#ddddee;
	font-weight:bold; 
	font-size:10px; 
	color:black;
}
.number {
	text-align:right;
}

a.danger {
    border:2px outset #c0c0c0;
    padding-left:26px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
    margin-right:2px;
    text-decoration:none;
    background-color:#cccccc;
    font-size:x-small;
    color:black;
    font-weight:normal;
    background-image: url(delete.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
a.danger:hover {
    text-decoration:none;
    background-color:#eeeeee;
    color:black;
}
a.danger:active {
    border:2px inset #c0c0c0;
    background-color:#ff0000;
    color:white;
}

/* HTML syntax highlighting */

span.htmltag  { color: red; font-weight: normal; }
span.urltag   { color: blue; font-weight: normal; }
span.purltag  { color: #f70; font-weight: normal; }
span.contenttag  { color: green; font-weight: normal; }
span.metatag  { color: #0cc; font-weight: normal; }
span.dcdtag  { color: #f0f; font-weight: normal; }

