a.ResponseButton {
	font-size:x-small;
	border:1px outset #999;
	background-color:#ccc;
	text-decoration:none;
	padding:1px 4px 1px 4px;
	font-weight:normal;
	color:black;
}
a.ResponseButton:hover {
	background-color:#eee;
	text-decoration:none;
}
.ResponseButtonBox {
	text-align:right;
	width:150px;
	float:right;
	padding:2px;
}
div.bar {
	color:#006;
	background-color:#006;
        overflow:hidden;
}
a.popup {
        color:grey;
	font-size:80%;
}
.MagPopup-inline {
    display:inline;
}
.MagPopup-inline a {
    color:grey;
    font-size:80%;
    text-decoration:none;
}
.MagPopup-inline a:hover {
    color:blue;
}
table.filterdates td {
    border:0px white solid;
}

div.Forms_question {
    padding:10px;
    margin-bottom:5px;
}
form div.A {
    background-color:#eee;
}
.Forms_prompt {
    font-size:120%;
}
table.Forms_question_group td {
    padding:3px;
}
a.liblink {
    color:grey;
    text-decoration:none;
}
a.liblink:hover {
    color:blue;
}

/* highlight alternating question group rows 
tr.QA_question_group_even {
    background-color:#eef;
}
tr.QA_question_group_odd {
    background-color:#ffe;
}
table.QA_question_group {
    border-collapse:collapse;
}
*/

span.select_question {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}
.selected {
    padding-left:20px;
    background:url(check.png) no-repeat;
}
.delQuestion {
    padding-left:20px;
    margin-left:5px;
    background:url(cancel.png) no-repeat;
}
.success {
    border:1px solid green;
    border-radius:5px;
    color:green;
    font-weight:bold;
    padding:5px 10px 5px 25px;
    background:url(check.png) no-repeat #cfc;
    background-position: 5px 5px;
}

/* new question form */

#new_question p {
    margin-right:25px;
}

.format_help {
    display:inline-block;
    padding:5px 10px;
    border-radius:5px;
    background:#9c9;
    color:#060;
}

#question_prompt {
    margin-bottom:10px;
}

/* config forms */

table.Forms_question_config td {
    padding-bottom:10px;
}

div#questionPopup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width:500px;
    margin: 20px auto;
    border:1px #ccc solid;
}

.addQuestion:hover {
    text-decoration:underline;
}

h3.ui-accordion-header span.ui-icon { 
    position:relative;
    top:3px;
}

/* jquery-ui accordion 

h3.ui-accordion-header { 
    font-size:110%;
    font-weight:normal;
    padding:4px;
    border:1px solid grey;
    background:#eee;
    margin-bottom:0px;
    padding-left:20px;
}
div.ui-accordion-content { 
    border-left:1px solid grey;
    border-right:1px solid grey;
    border-bottom:1px solid grey;
    padding:10px;
}
.ui-corner-top {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.ui-corner-all {
    border-radius:5px;
}
div.accordion h3.ui-state-default {
    color:#666;
    background:#ccc url(plus.gif) no-repeat 6px 8px;
    cursor:pointer;
}
div.accordion h3.ui-state-default:hover {
    color:black;
}
div.accordion h3.ui-state-active {
    color:black;
    background:#eee;
    cursor:auto;
}
*/
