#Login_menu {
margin:0;
padding:0;
}

#Login_menu ul {
margin:0;
padding:0;
}

#Login_menu li {
position:relative;
float:left;
list-style:none;
margin:0;
padding:0;
}

#Login_menu li a {
width:150px;
height:30px;
overflow:hidden;
display:block;
text-decoration:none;
padding-left:15px;
line-height:30px;
background-color:#000;
color:#FFF;
}

#Login_submenu {
z-index:5000;
}

#Login_submenu li a {
background-color:#696969;
}

#Login_menu li a:hover {
background-color:red;
}

#Login_menu ul ul {
position:absolute;
top:30px;
display:none;
}

.arrow-down {
float:right;
margin-right:10px;
margin-top:10px;
width:0;
height:0;
border-left:10px solid transparent;
border-right:10px solid transparent;
border-top:10px solid #fff;
}
